In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
import pandas as pd
import numpy as np

In [4]:
data_processed = pd.read_excel("Pre_processed_Data.xlsx")

In [5]:
data_processed

,Item_Weight,Item_Visibility,Item_MRP,Age_outlets,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,...,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,source_test,source_train,Item_Identifier_2_DR,Item_Identifier_2_FD,Item_Identifier_2_NC,source
0,9.30,0.016047,249.8092,14,1,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,train
1,5.92,0.019278,48.2692,4,0,1,0,0,0,0,...,0,0,1,0,0,1,1,0,0,train
2,17.50,0.016760,141.6180,14,1,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,train
3,19.20,0.000000,182.0950,15,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,train
4,8.93,0.000000,53.8614,26,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,10.50,0.013496,141.3154,16,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0,test
14200,7.60,0.142991,169.1448,4,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,test
14201,10.00,0.073529,118.7440,11,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,test
14202,15.30,0.000000,214.6218,6,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,test
14203,9.50,0.104720,79.7960,11,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,test

In [7]:
data_processed_train  = data_processed.loc[data_processed['source'] =='train']
data_processed_test  = data_processed.loc[data_processed['source'] =='test']

In [9]:
data_processed_train.drop(columns = ['source'],inplace = True)

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
del data_processed_test['source']

In [11]:
train_orig = pd.read_csv("train_v9rqX0R.csv")

In [12]:
target = train_orig['Item_Outlet_Sales']

In [ ]:
target

In [14]:
#Train - Train size , Test size - Train and Test Split 
#Train - Validation set - Test Split
#Train_Test_Val - Evaluation
lr = LinearRegression()
lr.fit(data_processed_train,target)
predicted_train = lr.predict(data_processed_train)

In [16]:
predict_test = lr.predict(data_processed_test)

In [17]:
predict_test

array([1836.08695754, 1522.07111811, 1882.38514932, ..., 1823.90903332,
       3588.89689368, 1285.8407461 ])

In [19]:
predict_test =abs(predict_test)

In [20]:
submission = pd.read_csv("sample_submission_8RXa3c6.csv")

In [22]:
submission['Item_Outlet_Sales'] = predict_test

In [23]:
submission.to_csv("SubmissionLRBatch20.csv",index= False)

In [24]:
print("The Goodness of fit is: ",r2_score(target,predicted_train))

The Goodness of fit is:  0.563772677537701

In [25]:
print("The Goodness of fit is: ",mean_squared_error(target,predicted_train))

The Goodness of fit is:  1270206.3939653977